@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700');
* {
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

a {
    color: #000 !important;
}

a:hover {
    text-decoration: none;
    color: #ff4301 !important;
}

/* ==========================================================================
   Header Section
   ========================================================================== */

.top-nav {
    height: 90px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    border-bottom: #E0E3DA 1px solid;
    z-index: 9999;
}

@media (max-width: 768px) {
    .top-nav {
        justify-content: center;
    }
    .hide-small {
        display: none;
    }
}

.top-nav .search a {
    color: #191919;
    margin-right: 20px;
    font-size: 14px;
    line-height: 14px;
    transition: .2s all;
}

.top-nav .search a:hover {
    color: rgba(107, 107, 107, 0.8);
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.navbar nav {
    align-self: center;
}

.navbar nav a {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    transition: .3s all ease-out;
}

.drawer {
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 250px;
    height: 100%;
    z-index: 999999;
}

.drawer nav {
    display: flex;
    flex-direction: column;
}

.drawer nav a {
    padding: 20px 30px;
    border-bottom: #E0E3DA 1px solid;
    color: #000;
    transition: .85s all;
    background-color: #fff;
}

.drawer nav a:hover {
    background-color: #f4f4f4;
    text-decoration: none;
}

.on {
    animation: open-drawer 0.15s ease-out;
    -webkit-animation: open-drawer 0.15s ease-out;
    -webkit-animation-fill-mode: forwards;
}

.off {
    animation: close-drawer 0.15s ease-out;
    -webkit-animation: close-drawer 0.15s ease-out;
    -webkit-animation-fill-mode: forwards;
}

@keyframes open-drawer {
    0% {
        left: -250px;
    }
    100% {
        left: 0px;
    }
}

@keyframes close-drawer {
    from {
        left: 0px;
    }
    to {
        left: -250px;
    }
}

.brand {
    color: #000;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

.bottom-nav {
    color: #6b6b6b;
    text-align: center;
    background-color: #ebebeb;
    padding: 15px 0;
    font-size: 13px;
    line-height: 22px;
}

.slick-list,
.slick-track,
.slick-slide {
    height: 100%;
    overflow: hidden
}

.header-slider {
    height: 480px;
}

.header-slider .slide {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-slider .slide:nth-child(1) {
    background-image: url(../images/3568.jpg);
}

.header-slider .slide:nth-child(2) {
    background-image: url(../images/O6CWAB0.jpg);
}

.header-slider .slide:nth-child(3) {
    background-image: url(../images/3568.jpg);
}

.slide .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 200px 100px;
}

.slide .content h1 {
    color: #fff;
}

.slide .content a {
    color: #fff!important;
    background-color: #eb3f49;
    padding: 0 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    opacity: 1;
    transition: .35s all;
}

.slide .content a:hover {
    opacity: .6;
}

.special {
    margin: 60px auto;
    padding: 0;
}

.special .row {
    padding: 0;
}

.special img {
    width: 100%;
    max-height: 400px;
    margin-top: 30px;
    object-fit: cover;
}

/* ==========================================================================
   Products Section
   ========================================================================== */

.products {
    margin-top: 50px;
}

.products h2 {
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.products .line {
    text-align: center;
}

.products-slider {
    margin-top: 30px;
}

.product-block {
    padding: 10px;
    border: 1px solid #fff;
}

.product-block:hover {
    border: 1px solid #dbdbdb;
}

.product-block a {
    overflow: hidden;
}

.product-block img {
    width: 100%;
}

.product-image {
    display: block;
    position: relative;
}

.product-image .overlay {
    width: 100%;
    background-color: #a0a0a0;
    height: 30px;
    transition: all .5s;
    position: absolute;
    bottom: -30px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.product-image img:hover+.overlay {
    bottom: 0px;
}

.product-block h4 {
    font-size: 15px;
    color: #101010;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 12px;
    text-align: center;
}

.product-block h5 {
    font-size: 14px;
    color: #101010;
    line-height: 22px;
    margin-top: 12px;
    font-weight: normal;
    text-align: center;
}

.product-block a {
    z-index: 99999;
}

/* ==========================================================================
   Products Section
   ========================================================================== */

.features {
    background-color: #0d0d0d;
    margin-top: 70px;
}

.features .col-12 {
    padding: 80px 60px;
}

.features i {
    color: #fa5400;
    margin-right: 10px;
    margin-left: -50px;
    font-size: 30px;
}

.features h3 {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.features p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    color: #828282;
}

@media (max-width: 768px) {
    .features .col-12 {
        padding: 20px 100px;
        text-align: center
    }
    .features i {
        margin: 0;
        margin-bottom: 20px;
    }
    .features h3 {
        display: block;
    }
}

/* ==========================================================================
   Gallery Section
   ========================================================================== */

.gallery {
    margin-top: 50px;
}

.gallery h2 {
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.gallery .line {
    text-align: center;
}

#instafeed {
    display: flex;
    height: 100px;
    margin-top: 30px;
}

#instafeed img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ==========================================================================
   Footer Section
   ========================================================================== */

.footer {
    background-color: #101010;
}

.top-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #232323;
}

.top-footer .social {
    margin-top: 10px;
}

.top-footer .social i {
    margin-right: 15px;
    color: #3f3f3f;
    font-size: 24px;
    line-height: 30px;
    transition: color .3s ease-in-out;
}

.top-footer .social i:hover {
    color: #fff;
}

.top-footer .brand {
    color: #fff;
}

.bottom-footer {
    padding: 40px 0;
}

.bottom-footer h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.bottom-footer nav {
    display: flex;
    flex-direction: column;
}

.bottom-footer nav a {
    color: #828282!important;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    transition: color .3s ease-in-out;
}

.bottom-footer nav a:hover {
    color: #fff!important;
}

.bottom-footer p {
    color: #828282;
    font-size: 14px;
    line-height: 22px;
    padding-right: 60px;
}

.copywrite {
    text-align: center;
    color: #828282;
    font-size: 14px;
    line-height: 22px;
    border-top: 1px solid #232323;
    margin-top: 50px;
    padding-top: 20px;
}